[contenteditable]:focus {
  outline: 0px solid transparent;
}
.chat-container{
  display: flex;
  height: 100px;
  width: 400px;
  border-radius: 12px;
  border: 2px solid #ccc;
  /* background-color: rgba(243, 249, 255, 1); */
  backdrop-filter: blur(64px);
  padding: 6px;
  transition: all 0.3s ease;

}
.chat-container:hover{
  border: 2px solid #3e63dd;
  background-color: rgba(243, 249, 255, 1);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

}


